* {
              margin: 0%;
              padding: 0;
}
a {
              text-transform: uppercase;
              font-weight: bold;
              
}
body {
              background-color: rgba(95, 158, 160, 0.534);
}
.logo{
              height: 9.375rem;
              width: 12.5rem;
              border-right: 12.5rem;
}
nav ul li {
              text-align: center;
              color: brown;
              display: inline-block;
              list-style: none;
              margin: 0 10px;
}
header {
              background-image: url(../img/fondo.webp);
              border-bottom: .0625rem solid black;
              text-align: center;
              padding: .625rem 1.25rem;
}
header nav ul li a {
              color: rgb(235, 6, 6);
}
main section div img {
              height: 25rem;
              width: 40.625rem;

}
.datos {
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
              text-align: center;
}
.sucursales {
              text-align: center;
              margin: 20px;
              border: 3px solid black;
              border-radius: 10px;

}
.mendoza {
              text-align: center;
              font-size: 15px;
}
footer {
              background-image: url(../img/fondo.webp);
              color: rgb(0, 0, 0);
}
.envios {
              text-align: center;
}
.contacto {
              text-align: center;
}
.ensalada {
             
            text-align: center;
}
.img-comidas {
              width: 40%;
              height: auto;

}