* {
              margin: 0%;
              padding: 0;
              box-sizing: border-box;
}
a {
              text-transform: uppercase;
              font-weight: bold;             
}
.logo{
              height: 9.375rem;
              width: 12.5rem;
              border-right: 12.5rem;
}
nav ul li {
              text-align: center;
              color: brown;
              display: inline-block;
              list-style: none;
              margin: 0 10px;
}
header {
              background-image: url(../img/fondo.webp);
              border-bottom: .0625rem solid black;
              text-align: center;
              padding: .625rem 1.25rem;
}
main section div img {
              height: 25rem;
              width: 40.625rem;

}
.datos {
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sucursales {
              text-align: center;
              margin: 20px;
              border: 3px solid black;
              border-radius: 10px;

}
.mendoza {
              text-align: center;
              font-size: 15px;
}
h5{
              font-size: 22px;
              font-family: Arial, Helvetica, sans-serif;
              color: black;
              border: outset black 5px;
              margin: 10px;
}
.presentacion {
              
              text-align: center;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
              font-size: 40px;
}
.heing{
              height: 500px;
              width: 60%;
              margin: 25px;
}
.header {
              color: black;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header:hover {
              font-size: 25px;
              text-decoration: underline;
              background-color: rgba(0, 0, 0, 0.055);
}
.img-comidas {
              width: 40%;
              height: auto;

}
.inicioImg {
              display: flex;
              flex-direction: row-reverse;
              
}
.inicioImg2 {
              display: flex;
              flex-direction: row;
              
}
.fondo {
              background-color: rgba(158, 157, 157, 0.253);
}
.ensaladaInicio {
              height: 400px;
              width: 500px;
}
.imgCards {
              width: 284px;       
}
.presentacion2 {
              text-align: center;
              font-size: 50px;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              background-color: rgba(0, 0, 0, 0.377);
} 

.productos {
              display: grid;
              grid-template-columns: repeat(4,1fr);
              justify-content: space-around;
}
.presentacion3 {
              font-size: 30px;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              color: black;
}